@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600|:italic");

.nav-link a{
  color: white;
}
.navbar {
  background-color: transparent;
}
.top-nav-collapse {
  background-color: #4285F4;
}
@media only screen and (max-width: 768px) {
  .navbar {
      background-color: #4285F4;
  }
}
.navbar-default, .navbar-custom{
  
  font-family: 'Montserrat', serif;
  text-shadow: 4px 4px 4px #000;
  color: white;
 
  
}
.nav, .navbar{
  color: white;
}
a{
  color: white;
  font-size: 20px;
}
