@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');
.about{
    padding: 0px 20px 60px 30px;  
    background-color: #f0e47c;
    overflow: hidden;
    /* margin:0; */
    padding: 50px 30px;
}
.about-me img{
    display: block;
    margin:auto;
}
.about-heading {
    color: rgb(129, 20, 20); 
    font-family:  'Montserrat, sans-serif';
    text-align: center;
    margin: auto;
    font-weight: bold;
    font-size: 40px !important;
       
}
.about-text{
    font-size: 26px;
    line-height: 40px;
    font-family: 'Montserrat, sans-serif';
}

.about-me p{
    padding-right: 20px;
}
.about-skill ul li{
    
    display: block;
    padding-right: 40px;
    float: left;
    text-decoration: none;
    font-size: 28px;
    font-family: 'Montserrat, sans-serif';
    color: rgb(112, 43, 18);
}
.about-skill h2{
    clear: both;
    font-family: 'Montserrat, sans-serif';
    padding-bottom: 20px;
    font-weight: bold;
    text-align: center;
    
}
