footer{
	padding: 20px;
	clear: both;
	color:rgb(129, 128, 128);
	background-color: #262829;
}
a{
	padding: 20px;
}
.footer-container{

	background-color: #c5c5c9;
}
.fa-lg{
	color: rgb(19, 77, 185);
}